	•	{% for link in site.data.navigation %} {% if link.url contains 'http' %} {% assign domain = '' %} {% else %} {% assign domain = site.url %} {% endif %}
	•	{{ link.title }}
	•	{% endfor %} {% if site.search %}
	•	Search
	•	{% endif %}
{% include browser-upgrade.html %} <!--{% if site.search %}{% include site-search.html %}{% endif %}--> {% if page.image.feature %}
{% if site.logo != null %}

{% endif %}
{% else %}
{% if site.logo != null %}  {% endif %}
{{ site.title }}
{{ site.description }}
{% endif %}